/*
A version of Nord's arctic, north-bluish color palette, 
with a Nord4 based colour pallete for light mode, 
and a Nord0 based colour pallete for dark mode.
*/
:root {
	--nord0: rgb(46, 52, 64);
	--nord1: rgb(59, 66, 82);
	--nord2: rgb(67, 76, 94);
	--nord3: rgb(76, 86, 106);

	--nord4: rgb(216, 222, 233);
	--nord5: rgb(229, 233, 240);
	--nord6: rgb(236, 239, 244);

	--nord7: rgb(143, 188, 187);
	--nord8: rgb(136, 192, 208);
	--nord9: rgb(129, 161, 193);
	--nord10: rgb(94, 129, 172);

	--nord12: rgb(208, 135, 112);
	--nord13: rgb(235, 203, 139);
	--nord14: rgb(163, 190, 140);
	--nord15: rgb(180, 142, 173);
}

* {
	font-size: 12px;
	color: rgb(76, 86, 106);
	font-weight: 500;
	font-family: "JetBrainsMono NF";
	margin: 0;
	padding: 0;
}

.widget {
	padding: 0 8px;
	margin: 0 4px;
}
.widget .label {
	padding: 0px 2px;
}
.widget .label.alt {
	padding: 0px 8px;
}

.active-window-widget {
	border-radius: 4px;
	margin-left: 8px;
}

.komorebi-workspaces {
	margin-left: -6px;
	margin-right: -6px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 10px;
}
.komorebi-workspaces .offline-status {
	color: #627199;
	font-size: 12px;
	padding: 0 4px;
	font-weight: 600;
}
.komorebi-workspaces .ws-btn {
	border: none;
	background-color: var(--nord1);
	margin: 0px 4px;
	padding: 0;
	color: rgba(0, 0, 0, 0);
	border-radius: 5px;
	height: 10px;
	width: 10px;
}
.komorebi-workspaces .ws-btn.populated {
	background-color: var(--nord10);
}
.komorebi-workspaces .ws-btn.active {
	color: rgba(0, 0, 0, 0);
	background-color: var(--nord8);
	width: 36px;
	height: 10px;
	border-radius: 4px;
}

/* Blue Power Button: rgb(94, 129, 172); */
.power-menu-widget .label {
	color: rgb(94, 129, 172);
	font-size: 16px;
	padding-right: 4px;
}

.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: rgb(216, 222, 233);
	font-weight: 600;
}
.power-menu-popup {
	background-color: rgb(46, 52, 64);
	border-radius: 6px;
}
.power-menu-popup .button {
	width: 240px;
	height: 120px;
	border-radius: 8px;
	background-color: rgb(59, 66, 82);
	color: rgb(229, 233, 240);
	margin: 8px;
}
.power-menu-popup .button.hover {
	background-color: rgb(76, 86, 106);
}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	color: rgb(216, 222, 233);
}

.power-menu-popup .button .icon {
	font-size: 48px;
	padding-top: 12px;
	padding-right: 8px;
	color: rgb(229, 233, 240);
}
.power-menu-popup .button.cancel .icon {
	color: var(--nord9);
}
.power-menu-popup .button.cancel .label {
	color: var(--nord9);
}

/* Blue Power Button: rgb(143, 188, 187); */
.power-menu-popup .button.shutdown .icon {
	color: rgb(191, 97, 106);
}
.power-menu-popup .button.shutdown .label {
	color: rgb(191, 97, 106);
}

/* ICONS */
.icon {
	font-size: 16px;
	margin-right: 4px;
}
.cpu-widget .icon {
	font-size: 14px;
	color: rgb(163, 190, 140);
}

.memory-widget .icon {
	font-size: 14px;
	color: rgb(208, 135, 112);
}

.weather-widget .label,
.weather-widget .icon {
	color: rgb(235, 203, 139);
}
.weather-widget .icon {
	font-size: 16px;
}
.weather-widget .icon.clearNight {
	font-size: 16px;
}
.weather-widget .icon.cloudyNight {
	font-size: 18px;
}

.volume-widget .icon {
	color: rgb(129, 161, 193);
}

.taskbar-widget .app-icon {
	padding: 0 6px;
	border: none;
	margin: 0;
}

/* Old MEDIA WIDGET 
.media-widget {
	padding: 0;
	margin: 0;
	border-radius: 0;
}
.media-widget .label {
	color: rgb(46, 52, 64);
	padding: 0 4px;
	font-size: 11px;
}
.media-widget .btn {
	color: rgb(76, 86, 106);
	padding: 0 3px;
	margin: 4px 0;
}
.media-widget .btn:hover {
	color: rgb(46, 52, 64);
}
.media-widget .btn.play {
	font-size: 16px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: rgb(76, 86, 106);
	font-size: 12px;
}
*/
.media-widget {
	padding: 0;
	margin: 0;
}
.media-widget .label {
	color: #bac2db;
	background-color: rgb(46, 52, 64);
	padding: 0px;
	padding-right: 4px;
	font-size: 12px;
}

.media-widget .label.maintext {
	padding-top: 3px;
}
.media-widget .btn {
	color: #989caa;
	padding: 0 4px;
	margin: 0;
	font-family: Segoe Fluent Icons;
	font-weight: 400;
}
.media-widget .btn:hover {
	color: #babfd3;
}
.media-widget .btn.play {
	font-size: 16px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: #4e525c;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0);
}

/* SYSTEM WIDGET */
/* Grey Sys Widget: Remove colour attribute */
.system-widget .label {
	font-size: 24px;
	color: rgb(94, 129, 172);
}

/* DARK THEME BELOW */

*.dark .label {
	color: rgb(236, 239, 244);
}

.yasb-bar {
	background-color: rgb(46, 52, 64);
}

/* Blue Power Button: rgb(94, 129, 172); */
*.dark .power-menu-widget .label {
	color: var(--nord9);
}

/* NEW MEDIA WIDGET */
*.dark .media-widget .label {
	color: rgb(216, 222, 233);
}
*.dark .media-widget .btn {
	color: rgb(216, 222, 233);
}
*.dark .media-widget .btn:hover {
	color: rgb(236, 239, 244);
}
*.dark .media-widget .btn.disabled:hover,
*.dark .media-widget .btn.disabled {
	color: rgb(216, 222, 233);
}

/* SYSTEM WIDGET */
/* Grey Sys Widget: Remove colour attribute */
*.dark .system-widget .label {
	font-size: 24px;
	color: rgb(94, 129, 172);
}

/* CALENDAR WIDGET */
.calendar {
	background-color: rgb(46, 52, 64);
}
.calendar .calendar-table,
.calendar .calendar-table::item {
	background-color: rgba(17, 17, 27, 0);
	color: rgb(236, 239, 244);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.calendar .calendar-table::item:selected {
	color: rgb(129, 161, 193);
	border: 2px solid #232a2e;
	background-color: #232a2e;
	border-radius: 8px;
}
.calendar .day-label {
	margin-top: -5px;
}
.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	color: rgb(151, 192, 232);
	font-weight: 700;
	min-width: 180px;
	max-width: 180px;
}
.calendar .month-label {
	font-weight: normal;
}
.calendar .date-label {
	font-size: 88px;
	font-weight: 900;
	color: rgb(151, 192, 232);
	margin-top: -23px;
}
.github-menu {
	background-color: rgb(46, 52, 64);
	max-height: 500px;
	min-height: 500px;
	min-width: 420px;
}
.github-menu .header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 15px;
	font-weight: 400;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 8px;
	color: white;
	background-color: rgb(34, 38, 46);
}
.github-menu .footer {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 12px;
	padding: 4px 8px 6px 8px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #9399b2;
	background-color: rgba(17, 17, 27, 0.75);
}
.github-menu .contents {
	background-color: rgba(17, 17, 27, 0.2);
}
.github-menu .contents .item {
	min-height: 40px;
	padding: 6px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}
.github-menu .contents .item:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.github-menu .contents .item .title,
.github-menu .contents .item .description {
	color: #9399b2;
	font-family: Segoe UI;
}
.github-menu .contents .item .title {
	font-size: 14px;
	font-weight: 600;
}
.github-menu .contents .item .description {
	font-size: 12px;
	font-weight: 500;
}
.github-menu .contents .item.new .title,
.github-menu .contents .item.new .description {
	color: #ffffff;
}
.github-menu .contents .item .icon {
	font-size: 16px;
	padding-right: 0;
	padding-left: 8px;
	padding-right: 4px;
	color: #9399b2;
}
.github-menu .contents .item.new .icon {
	color: #3fb950;
}
